#Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#VsCode
.vscode/ 

# Python
__pycache__/
*.pyc

#Env
.env
.venv
#Logs
*.log
*.tmp
.DS_Store
*.tfvars
*.tfvars.json
